.body {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  padding-top: 24px;
  /* max-width: "345px";
    width: 100%; */
  margin: auto;
  gap: 30px;
  width: 377px;
  height: 291.5px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 12px 0px;
}
.form {
  display: flex;
  width: 344px;
  height: 40px;
  column-gap: 6px;
  box-sizing: border-box;
  border-radius: 5px;
  
}
.formButton{
    background-color: rgb(60, 130, 246);
    border-radius: 5px;
}
.check {
  display: flex;
  column-gap: 6px;
  width: 377px;
  height: 32px;
}
